@media screen and (max-width:576px) {
  
  /* shared styles */
  .title {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 1.3rem;
  }

/* nav section */
    nav{
        margin-bottom: 48px;
    }
    .navbar{
        display: none;
    }
    .ham-burger-menu{
        display: block;
    }

/* banner section styles */
    .banner{
        flex-direction: column;
        gap: 48px;
    }

    .banner-text{
        display: flex;
        flex-direction: column;
        gap: 28px;
        width: 100%;
        margin-top: 0;
    }

    .banner-text-heading{
        font-size: 38px;
        font-weight: 700;
    }


    .banner-img{
        height: 80%;
    }

    .resources-1{
        
        top: 22%;
        right: -8%;
        }
        
    .resources-2{
        bottom: 40%;
        left: -8%;
    }    


/* change-your-habit-section */
.habits{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}



/* run-section */
.run-section{
    flex-direction: column;
    gap: 30px;
    margin-top: 88px;
}

.run-text{
    width: 100%;

}

.run-text button{
width: 50%;
}


.run-img{
width: 100%;
}

/* bmi-section */

.bmi-text{
  margin-left: 20%;
  width: 400px;
}

.bmi-details{
  flex-direction: column;
  
  
}

.bmi-chart,
.calculation-form{
  width: 100%;
}



/* membership section */
.packages{
    flex-direction: column;
}

.package{
    width: 100%;
    /* padding: 20px 20px; */
    padding-left: 30px;
    padding-right: 0;
}
    
/* meet-our-team-section */
.team{
    grid-template-columns: repeat(1, 1fr);
    
}

    /* footer section */
    .footer-options{
        flex-direction: column;
        row-gap: 40px;
    } 

    .footer-main{
        width: 100%;
    }

    .footer-tertiary{
        flex-direction: column;
        gap: 50px;

    }
    
    .footer-secondary{
        width: 100%;
    }
}