/* Small device: upto 576 px 
Medium Device: 576px to 992 px 
Large Device: above 993 px  */


@media screen and (max-width:576px) {
    
/* nav section */
    nav{
        margin-bottom: 48px;
    }
    .navbar{
        display: none;
    }
    .ham-burger-menu{
        display: block;
    }

/* banner section styles */
    .banner{
        flex-direction: column;
        gap: 48px;
    }

    .banner-text{
        display: flex;
        flex-direction: column;
        gap: 28px;
        width: 100%;
        margin-top: 0;
    }

    .banner-text-heading{
        font-size: 38px;
        font-weight: 700;
    }


/* change-your-habit-section */
.habits{
    /* display: grid; */
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

    
/* meet-our-team-section */
.team{
    /* display: grid; */
    grid-template-columns: repeat(1, 1fr);
    /* gap: 20px;
    background-color: #FFFFFF1A;
    padding: 20px;
    border-radius: 15px; */
}



    /* footer section */
    .footer-options{
        flex-direction: column;
        row-gap: 40px;
    } 

    .footer-main{
        /* display: flex;
        flex-direction: column;
        row-gap: 20px; */
        width: 100%;
    }

    .footer-tertiary{
        width: 100%;
    }
    
    .footer-secondary{
        /* display: flex;
        flex-direction: column;
        row-gap: 10px; */
        width: 50%;
    }
}