@media screen and (max-width:576px) {
    
/* nav section */
    nav{
        margin-bottom: 48px;
    }
    .navbar{
        display: none;
    }
    .ham-burger-menu{
        display: block;
    }

/* banner section styles */
    .banner{
        flex-direction: column;
        gap: 48px;
    }

    .banner-text{
        display: flex;
        flex-direction: column;
        gap: 28px;
        width: 100%;
        margin-top: 0;
    }

    .banner-text-heading{
        font-size: 38px;
        font-weight: 700;
    }


    /* --------------------------------------------------- */
    .banner-section {
        flex-direction: column;
      }
    
      .banner-content {
        width: 100%;
        padding: 20px;
        margin: 0;
      }
      .banner-tittle {
        width: 80%;
        font-size: 2.5rem;
      }
    
      .banner-img {
        width: 100%;
      }
      .banner-img img {
        width: 100%;
      }
      .tutorial {
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 0.5rem;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
        padding: 1rem 2rem;
      }
      .video {
        font-size: 1.5rem;
        font-weight: 800;
        text-align: left;
      }
      .text {
        font-size: 1rem;
        font-weight: 300;
      }
      .tutorial-top {
        position: absolute;
        margin-left: 300px;
        margin-top: -800px;
      }
      .tutorial-bottom {
        position: absolute;
        margin-left: -550px;
        margin-bottom: -400px;
      }




    /* ------------------------------------------------------- */


/* change-your-habit-section */
.habits{
    grid-template-columns: repeat(1, 1fr);
    row-gap: 80px;
}


/* run-section */
.run-section{
    flex-direction: column;
    gap: 30px;
}

.run-text{
    width: 100%;

}

.run-text button{
width: 50%;
}


.run-img{
width: 100%;
}

/* BMI section */
/* .bmi-details {
flex-direction: column;    
gap: 10px;
} */

.BMI-sectiion {
    width: 100%;
  }

  .bmi-content {
    width: 100%;
    padding: 20px;
  }
  .bmi-details {
    flex-direction: column;
    padding: 20px;
    margin: 0;
  }
  .bmi-tittle {
    margin-top: 1rem;
  }
  .bmi-tittle-1 {
    font-size: 1.5rem;
    font-weight: 900;
    padding: 2rem 0;
  }
  table {
    margin-right: 30px;
    width: 90%;
  }
  table,
  th,
  td {
    padding: 0.8rem 1rem;
  }
  th {
    font-size: 1rem;
  }

  td {
    font-size: 1rem;
  }

  .bmi-intro {
    width: 100%;
  }
.form{
    width: 90%;
}

  .contact-login {
    width: 100%;
  }
  input,
  select {
    padding: 1rem 1.2rem;
  }
  .cal-btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    width: 40%;
  }
  .input-text {
    gap: 15px;
  }


/* membership section */
.packages{
    flex-direction: column;
}

.package{
    width: 100%;
    /* padding: 20px 20px; */
    padding-left: 30px;
    padding-right: 0;
}
    
/* meet-our-team-section */
.team{
    grid-template-columns: repeat(1, 1fr);
    
}

    /* footer section */
    .footer-options{
        flex-direction: column;
        row-gap: 40px;
    } 

    .footer-main{
        width: 100%;
    }

    .footer-tertiary{
        width: 100%;
    }
    
    .footer-secondary{
        width: 50%;
    }
}