@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+BE+VLG:wght@100..400&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');


*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body{
    /* margin: 0 190px 0 190px; */
    margin: 0 10% ;
    background-color: black;
    color: white;
}

/* Shared styles */
.mb{
    margin-bottom: 88px;
}

.btn-primary{
    border-radius: 46px;
    background-color: #E6533C;
    padding: 8px 20px 8px 20px;
    border: none;
}


/* navbar styles */
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 57px;

}

.navbar{
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    gap: 47px;
    border: 2px solid #FFFFFF1A;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
       
}

.ham-burger-menu{
    display:none;
}

.nav-title{
    font-size: 36px;
    font-weight: 800;
    color: rgb(230, 83, 60);
}





/* banner styles */
.banner{
    display: flex;
    gap: 167px;
}

.banner-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    width: 40%;
    margin-top: 100px;
}

.banner-text-heading{
    font-size: 68px;
    font-weight: 900;
}

.banner-img img{
    width: 100%;
}

/* change-your-habit-section */
.habits{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}


.habit img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.habit{
    text-align: center;
}

/* meet-our-team-section */
.team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #FFFFFF1A;
    padding: 20px;
    border-radius: 15px;
}

.team-text{
    text-align: center;
    margin-bottom: 30px;
}

.team-text p{
    margin-top: 15px;
}

.mamber img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}




/* footer section */
.footer-options{
    display: flex;
    gap: 150px;
    margin-bottom: 79px;
} 

.footer-main{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 50%;
}

.footer-tertiary{
    display: flex;
    width: 50%;
}

.footer-secondary{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 50%;
}


footer h2{
    color: white;
}
footer p{
    color: #ffffff51;
}

hr{
    color:#ffffff51;
    margin-bottom: 36px;
    
}

.copy-right{
    
    color: #ffffff51;
    margin-bottom: 36px;
    text-align: center;
}