@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+BE+VLG:wght@100..400&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');


*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body{
    margin: 0 auto;
    background-color: black;
    color: white;
    max-width: 1440px;

}

header{
    padding: 5% 10% 0 10%;
    background-color: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

.habit-section,
.run-section,
.membership,
.team-section{
    margin: 0 10%;
}



/* Shared styles */
.mb{
    margin-bottom: 88px;
}

.btn-primary{
    border-radius: 46px;
    background-color: #E6533C;
    padding: 8px 20px 8px 20px;
    border: none;
}


.title {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.3rem;
  }
  
  .sub-title {
    color: rgba(255, 255, 255, 0.5);
    font-size: .7rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }


/* navbar styles */
nav{
    display: flex;
    justify-content: space-between;
    /* margin-top: 57px; */

}

.navbar{
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    gap: 47px;
    border: 2px solid #FFFFFF1A;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
       
}

.ham-burger-menu{
    display:none;
}

.nav-title{
    font-size: 36px;
    font-weight: 800;
    color: rgb(230, 83, 60);
}





/* banner styles */
.banner{
    display: flex;
    gap: 167px;
}

.banner-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    width: 40%;
    margin-top: 100px;
}

.banner-text-heading{
    font-size: 68px;
    font-weight: 900;
}


/* ------------------------------ */
.banner-section {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .banner-content {
    width: 50%;
  }
  
  .banner-tittle {
    font-size: 4rem;
    font-weight: 900;
    background: none;
    line-height: 80px;
  }
  
  .banner-description {
    font-size: 1rem;
    font-weight: 400;
    padding: 1.8rem 0;
    color: rgba(255, 255, 255, 0.5);
  }


/* --------------------------------- */

.banner-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 87px;
    position: relative;
    width: 50%;
  }
  
  .banner-img img {
    object-fit: cover;
  }
  .download-btn {
    background: none;
    border: 1px solid #ffff;
    color: #ffff;
  }
  .banner-btn {
    display: flex;
    gap: 24px;
  }
  
  .tutorial {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.8rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 0.7rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    text-align: left;
  }
  
  .video-1 {
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
  }
  
  .video {
    font-size: 2rem;
    font-weight: 900;
    color: #ffff;
    padding-bottom: 3px;
  }
  
  .text {
    font-size: 1rem;
    color: #ffff;
  }
  
  .round i {
    color: #e6533c;
    font-size: 2rem;
    background-color: #fff;
    border-radius: 50%;
    
  }
  
  .tutorial-top {
    position: absolute;
    margin-left: 270px;
    margin-top: -200px;
  }
  
  .tutorial-bottom {
    position: absolute;
    margin-left: -400px;
    margin-bottom: -350px;
  }






/* change-your-habit-section */

.habits{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
}


.habit img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.habit{
    text-align: center;
}


/* extra-run-section */

.run-section{
    display: flex;
    gap: 25%;
    background-color: #222222;
    padding: 50px;
    border-radius: 15px;
    margin-top: 158px;
}

.run-text{
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        width: 40%;
    
}

.run-text button{
    width: 30%;
}


.run-img{
    width: 30%;
}

.run-img img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


/* BMI Calculator */

.bmi-details {
    display: flex;
    /* gap: 50px; */
    justify-content: space-evenly;
    padding: 5% 0;
    /* padding: 3rem 0; */
    background-color: #232322;
    width: 100%;
  }
  
  .bmi-content {
    width: 700px;
    margin: 0 auto;
    /* text-align: justify; */
  }
  
  .bmi-tittle-1 {
    font-size: 2.3rem;
    font-weight: 900;
    padding-bottom: 3rem;
    background: #232322;
  }
  
  .bmi-intro {
    text-align: justify;
    width: 620px;
    background: #232322;
  }
  
  .bmi-tittle {
    font-size: 2.3rem;
    font-weight: 900;
    padding-bottom: 1.5rem;
    background: #232322;
  }
  
  table {
    border-collapse: collapse;
  }
  
  table,
  th,
  td {
    border: 3px solid rgba(255, 255, 255, 0.1);
    padding: 1rem 1.5rem;
    text-align: center;
    background: #232322;
  }
  
  th {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  td {
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .input-text {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    background: #232322;
  }
  
  .contact-login {
    width: 100%;
    background: #232322;
  }
  
  input,
  select {
    padding: 1rem 1rem;
    border: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
   
    width: 50%;
    background: rgba(255, 255, 255, 0.1);
  }
  input::placeholder,select{
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
  }
  option{
    background-color: #000000;
  }
  
  .option {
    border: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    
  }
  
  .option select {
    width: 100%;
    
  }


/* membership section */


.packages{
    display: flex;
    gap: 20px;
    margin-top: 40px;
    /* width: 100%; */
}

.package{
    width: 30%;
    padding: 70px 30px;
    border-radius: 15px;
    background-color: #3b2d2d7c;
}

.package ul{
    margin-top: 30px;
}

.package h6{
    margin-top: 15px;
}

.package ul{
    margin-bottom: 30px;
}

.package li{
    margin-bottom: 10px;
}



#package-2{
    background-color: #dc80bfc5;
}


/* meet-our-team-section */
.team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #FFFFFF1A;
    padding: 20px;
    border-radius: 15px;
}

.team-text{
    text-align: center;
    margin-bottom: 30px;
}

.team-text p{
    margin-top: 15px;
}

.mamber img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}




/* footer section */
footer{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5% 10%;
}

.footer-options{
    display: flex;
    gap: 150px;
    margin-bottom: 79px;
} 

.footer-main{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 50%;
}

.footer-tertiary{
    display: flex;
    width: 50%;
}

.footer-secondary{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 50%;
}


footer h2{
    color: white;
}
footer p{
    color: #ffffff51;
}

footer hr{
    color:#ffffff51;
    margin-bottom: 36px;
    
}

.copy-right{
    
    color: #ffffff51;
    /* margin-bottom: 36px; */
    text-align: center;
}